appserv:
  - type: telegram
    token: 123456
    username: a123
  - type: telegram
    token: 234567
    username: a234

bindaddr: 127.0.0.1:7010

dbpath: ./data
dbengine: leveldb

plugins:
  - command

pluginssecondline:
  - debug

commands:
  - help
  - start

starttext:
  - start001
  - start002
  - start003

helptext:
  - help001
  - help002
  - help003

language: en-US

langpath: ./lang
